:root {
  --color-first: #2e2f42;
  --color-second: #434455;
  --color-third: #ffffff;
  --color-fourth: #f4f4fd;
  --color-fifth: #4d5ae5;
  --color-sixth: #e7e9fc;
  --color-seventh: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-first);
  background-color: var(--color-third);
}
li {
  list-style-type: none;
}

/* Header */

.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-first);
}
.logo-web {
  color: var(--color-fifth);
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-first);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-seventh);
}
.header-link-address:hover,
.header-link-address:focus {
  color: var(--color-seventh);
}
.header-link-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: var(--color-second);
}

/* Section Hero */

.hero {
  background-color: var(--color-first);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-third);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-third);
  background-color: var(--color-fifth);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-seventh);
}

/* Section 1 */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-second);
}

/* Section 2 */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/* Section 3 */

.our-team {
  background-color: var(--color-fourth);
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-second);
}
.team-cards {
  background-color: var(--color-third);
}

/* Portfolio */

.button-filters {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-sixth);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-fifth);
  background-color: var(--color-fourth);
}
.button-filters:hover,
.button-filters:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-third);
  background-color: var(--color-seventh);
}
.title-cards {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-first);
}
.portfolio-links {
  text-decoration: none;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-second);
}

/* Footer */

.footer {
  background-color: var(--color-first);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-sixth);
}
.logo-studio-footer {
  color: var(--color-fourth);
}
